* {
    border: none;
}

window {
    margin: 0px;
    font-size: 20px;            
    border-radius: 15px;
    border: 2px solid #9ccfd8;
    background-color: rgba(35,33,54,0.5);
}

/*DRUN*/
#input {
    margin: 8px;
    border-radius: 20px;
    border: 2px solid #9ccfd8;
    background-color: transparent;
    font-size: 18px;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
}

#scroll {
    margin: 5px;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#entry image {
    padding-right: 3px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px;
    border: none;
    background-color: rgba(255,255,255,0.1) !important;
}

#text:selected {
    margin: 5px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
